# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# Build
dist

# IDEs
.idea
.vscode/*
!.vscode/terminals.json

/bin
/cache

.env

# Other
preconvert.txt
DEPLOY.md
